<?xml version="1.0"?>
<robot name="hil_sim">
  <link name="hil_sim">
    <visual>
      <origin rpy="1.570796326 -0 -0" xyz="-4.15 -10.6 -2"/>
      <geometry>
        <mesh filename="file:///home/d943/Dropbox/Master/catkin_ws/src/simulator_prototype/meshes/test.stl" scale="1 1 1"/>
      </geometry>
      <material name="white">
        <color rgba="0.4 0.4 1 1"/>
      </material>
    </visual>
  </link>
</robot>